<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='grid_view.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='socket/socket.io.js')}}">

    </script>

    <script type="text/javascript" src="{{url_for('static',filename='js/login.js')}}">

    </script>
  </head>
  <body style="background:#4F4F4F">
    <div class="login-box col-sm-10 col-md-8 col-lg-8 col-xl-4">
      <h2 class="login">LOGIN</h2>
      <form action="{{url_for('login')}}" method="post" enctype="multipart/form-data">
        <span class='username-box'>
          <input type="text" name="username" required>
          <label>Username</label>
          <span class="line"></span>
        </span>
        <span class='login-button-box'>
          <input type="submit" name="" value="LOGIN">
        </span>
      </form>
    </div>
  </body>
</html>
